<div class="grid grid-cols-3 gap-4 mt-2">
    <div *ngFor="let detection_data_unit of detection_data_units; let idx = index" class="relative group base-course bg-gray-300 flex items-center justify-center hover:cursor-pointer"
            (click)="showDetectionDataMetadata(idx)">
        <p class="text-center">{{detection_data_unit.title}}</p>
        <div class="dropdown-content absolute hidden group-hover:block bg-white shadow-lg rounded-md p-2 top-2/3">
            <a class="dropdown-option" (click)="sendDetectionDataToDatasetProcess(idx); $event.stopPropagation()">
                <i class="fas fa-edit mr-2"></i>Send Detection Data to Dataset Process
            </a>
            <a class="dropdown-option" (click)="editDetectionData(idx); $event.stopPropagation()">
                <i class="fas fa-edit mr-2"></i>Edit Detection Dataset
            </a>
            <a class="dropdown-option" (click)="copyDetectionData(idx); $event.stopPropagation()">
                <i class="fas fa-edit mr-2"></i>Create Copy of Detection Dataset
            </a>
            <a class="dropdown-option" (click)="deleteDetectionData(idx); $event.stopPropagation()">
                <i class="fas fa-solid fa-trash mr-2"></i>Delete Detection Dataset
            </a>             
        </div>
    </div>    
    <button (click)="addDetectionData()"
        class="base-course bg-gray-50 border-dashed hover:bg-gray-100">
        <span class="mb-1">Add Detection Dataset</span>
        <span class="text-xl">+</span>
    </button>             
</div>
<app-loading-animation></app-loading-animation>